/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --white: #ebccd1;
    --black-dark: #121212;
    --black: #1e1e1e;
    --black-mute: #424242;
    --black-active: #717171;

    --divider-light: rgba(60, 60, 60, 0.29);
    --divider-dark: rgba(84, 84, 84, 0.65);

    --text-light: var(--black);
    --text-dark: var(--white);
    --green-active: #32bc9b;
    --purple-active: #cb15eb;
}

/* semantic color variables for this project */
:root {
    --color-background: var(--white);
    --color-border: var(--divider-light);
    --color-heading: var(--text-light);
    --color-text: var(--text-light);
    --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--black);
        --color-border: var(--divider-dark);
        --color-heading: var(--text-dark);
        --color-text: var(--text-dark);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    animation: fadeIn 1s ease-out;
    font-family: Ubuntu, sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
